.inputWrapper {
    flex: 1;

    font-size: 16px;
    line-height: 24px;
}

.inputTextArea {
    border: none;
    outline: none;
    resize: none;

    padding: 0;

    margin-bottom: 4px;

    word-break: break-all;
}

.inputContentEditable {
    padding: 4px;
    word-break: break-word;
    white-space: pre-wrap;

    outline: none;

    &[aria-label]:empty:before {
        content: attr(aria-label);
        color: #765827;
    }
}